simple_acquisition_with_stream2
connect_and_configure_and_arm_detector
send_software_trigger
wait_idle_and_disarm_detector
disarm_detector
*__pycache__*

# dectris_data_consumer CMake (out-of-tree build recommended)
dectris_data_consumer/build/
dectris_data_consumer/_deps/
dectris_data_consumer/CMakeCache.txt
dectris_data_consumer/CMakeFiles/
dectris_data_consumer/cmake_install.cmake
dectris_data_consumer/Makefile
dectris_data_consumer/compile_commands.json
dectris_data_consumer/bin/
dectris_data_consumer/lib/
dectris_data_consumer/third_party/CMakeFiles/
dectris_data_consumer/third_party/cmake_install.cmake
dectris_data_consumer/third_party/Makefile
example_dataset/normalized/*.tiff
example_dataset/inpainted/*.tiff
dectris_data_consumer/third_party/CMakeCache.txt
dectris_data_consumer/third_party/_deps/*
