[submodule "compression"]
	path = src/data_consumer/third_party/compression
	url = https://github.com/dectris/compression
[submodule "tinycbor"]
	path = src/data_consumer/third_party/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "libtiff"]
	path = src/data_consumer/third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
