[submodule "dectris_data_consumer/third_party/compression"]
	path = dectris_data_consumer/third_party/compression
	url = https://github.com/dectris/compression
[submodule "dectris_data_consumer/third_party/tinycbor"]
	path = dectris_data_consumer/third_party/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "dectris_data_consumer/third_party/libtiff"]
	path = dectris_data_consumer/third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
